plugin: amazon.aws.aws_ec2
regions:
  - eu-west-2

hostnames:
  - tag:Name
  - private-ip-address
  - public-ip-address

compose:
  ansible_host: public_ip_address
  ansible_user: ubuntu
  ansible_python_interpreter: /usr/bin/python3
  private_ip: private_ip_address

groups:
  base: "'workshop-gpu' in (tags.Name | default('')) or 'workshop-storage' in (tags.Name | default(''))"
  gpu: "'workshop-gpu' in (tags.Name | default(''))"
  shared_storage_clients: "'workshop-gpu' in (tags.Name | default(''))"
  shared_storage_server: "'workshop-storage' in (tags.Name | default(''))"
  jupyter: "'workshop-gpu' in (tags.Name | default(''))"

