[Install]
WantedBy=multi-user.target

[Unit]
Description=Jupyter Lab Server
After=network.target

[Service]
Type=simple
User={{ gpu_user }}
WorkingDirectory=/home/{{ gpu_user }}

ExecStart=/work/jupyter-venv/bin/jupyter lab \
  --ServerApp.port=8888 \
  --ServerApp.ip=0.0.0.0 \
  --ServerApp.root_dir=/home/{{ gpu_user }} \
  --ServerApp.token='' \
  --ServerApp.password='' \
  --ServerApp.allow_origin='*' \
  --ServerApp.disable_check_xsrf=True \
  --ServerApp.allow_remote_access=True

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
