[Unit]
Description=Jupyter Notebook server 
After=network.target

[Service]
Type=simple
User={{ item.key }}
WorkingDirectory={{ shared_home_storage  }}/{{ item.key }}

ExecStart=/opt/jupyter-venv/bin/jupyter notebook \
  --NotebookApp.port={{ item.value }} \
  --NotebookApp.ip=0.0.0.0 \
  --NotebookApp.base_url=/{{ item.key }}/ \
  --NotebookApp.notebook_dir={{ shared_home_storage }}/{{ item.key }} \
  --NotebookApp.allow_origin='*' \
  --NotebookApp.allow_root=False \
  --NotebookApp.token='' \
  --NotebookApp.password='' \

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target


