---
- name: Create shared mount directory
  file:
    path: /shared
    state: directory
    mode: "0777"
  when: inventory_hostname == "workshop-storage"

- name: Create work directory
  file:
    path: /work
    state: directory
    owner: "{{ gpu_user }}"
    group: "{{ gpu_user }}"
    mode: "0777"
  when: inventory_hostname == "workshop-gpu"

