---
- name: Apply necessary roles to all hosts
  hosts: base
  become: yes
  roles:
    - base
    - users
    - storage

- name: Set up NVIDIA software
  hosts: gpu
  become: yes
  roles:
    - nvidia

- name: Set NFS server on storage
  hosts: shared_storage_server
  become: yes
  roles:
    - nfs_server
    - notebooks

- name: Set up shared storage
  hosts: shared_storage_clients
  become: yes
  roles:
    - nfs_client

- name: Set up Jupyter notebook
  hosts: jupyter
  become: yes 
  roles:
    - jupyter
    - huggingface_model
