---
- name: Install required dependencies
  apt:
    name:
      - build-essential
      - dkms
      - wget
    state: present
    update_cache: yes

- name: Download NVIDIA CUDA repo keyring
  get_url:
    url: https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64/cuda-keyring_1.1-1_all.deb
    dest: /tmp/cuda-keyring_1.1-1_all.deb
    mode: '0644'

- name: Install CUDA repo keyring
  apt:
    deb: /tmp/cuda-keyring_1.1-1_all.deb

- name: Install NVIDIA drivers + CUDA toolkit
  apt:
    name: cuda-drivers
    state: present
    update_cache: yes
  notify: Reboot required

